/*Layout*/
html, body {
    height: 100%;
    width: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.main{
    /*background: linear-gradient(45deg, #336786, #12315e);*/
    background-color: #f2f2f2;
    flex: 1 0 auto;
    /*color: whitesmoke;*/
}
.header-color,.footer-color{
    background-color: #15192C;
}
footer {
    flex-shrink: 0;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));

}
.form-signin {
    max-width: 350px;
}
.form-add{
    max-width: 550px;
}
.error {
    color: red;
}
.bi {
    vertical-align: -.125em;
    fill: currentColor;
}
.logo{
    height: 30px;
    width: 30px;
}
/*producer*/
.image-producer{
    height: 125px;
}
.producers-list .card{
    border: 1.5px solid #15192C;
}
.producers-list .card .card-body {
    background-color: #2d3864;
}
.producers-list a {
    text-decoration: none;
}
.producers-list .card:hover .card-body{
    background: #1f2950;
    color: whitesmoke;
}
.producers-list .card:hover h4{
    color: whitesmoke;
}
.error-page h1 {
    font-size: 3em;
}
/*bootstrap adding*/
.h-10{
    height: 10%!important;
}
.h-15{
    height: 15%!important;
}
.h-20{
    height: 20%!important;
}
.h-60{
    height: 60%!important;
}
.h-55{
    height: 55%!important;
}
.h-45{
    height: 45%!important;
}
.h-30{
    height: 30%!important;
}
.w-60{
    width: 60%!important;
}
.w-30{
    width: 30%!important;
}
/*dashboard*/
.l-bg-orange-dark {
    background: linear-gradient(to right, #a86008, #ffba56) !important;
    color: #fff;
}
.bg-grey {
    background-color: #F5F7FA;
}
.bg-red-linear{
    background: linear-gradient(45deg, #9b3d3d, #be1c1c);
}
.bg-green-linear{
    background: linear-gradient(45deg, #387536, #094205);
}
.bg-blue-linear{
    background: linear-gradient(45deg, #32487a, #0b1e6c);
}
.bg-orange-linear{
    background: linear-gradient(45deg, #6b3308, #9b5b35);
}
.bg-aqua-linear{
    background: linear-gradient(45deg, #0a4d57, #044854);
}
.bg-darkred-linear{
    background: linear-gradient(45deg, #44050c, #702e2e);
}
.bg-darkblue-radial{
    background: radial-gradient(#3f3f83, #121244);
}
.bg-darkgreen-linear{
    background: linear-gradient(45deg, #527a65, #295b48);
}
.bg-darkblue-linear{
    background: linear-gradient(235deg, #065996, #002D62);
}
.bg-blue-red-linear{
    background: linear-gradient(45deg, #702133, #312479);
}
.text-blue-red{
    color: #5b1338;
}
.text-green{
    color: #2C5F4A;
}
.text-darkblue{
    color: #1d1d62;
}
/*error404 page*/
.error-page {
    font-family: Inter, Times New Roman, arial, sans-serif;
}
.go-back-button {
    --b: 3px; /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #373B44;
    text-decoration: none;
    padding: calc(.8em + var(--s)) calc(1.2em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background: conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2 * var(--_p)) calc(100% - var(--b) - 2 * var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 18px;

    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-align: center;
    margin: 30px;
}

.go-back-button:hover,
.go-back-button:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
    color: #000000;
    font-weight: bold;
}

.go-back-button:active {
    background: var(--color);
    color: #737373;
}

.flexbox {
    align-items: inherit;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.flexbox>* {
    flex: 1 0 0%;
}
@media screen and (max-width: 1510px) {
    .my-row {
        margin-left: 4%;
        margin-right: 4%;
    }
}
.my-row {
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    position: relative;
}
#main:not(.flexbox) {
    display: block;
}

.ldg-container, .my-row {
    box-sizing: border-box;
}
.b-title-master {
    align-items: center;
    text-align: left;
}
.error-image{
    max-width: 100%;/*check*/
}
.sx-200{
    height: 200px;
}
/*cart*/
.ajs-message { color: #31708f;  background-color: #d9edf7;  border-color: #31708f; }