.error-page {
    font-family: Inter, Times New Roman, arial, sans-serif;
}

.error-page h1 {
    font-size: 3em;
}

.go-back-button {
    --b: 3px; /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #373B44;
    text-decoration: none;
    padding: calc(.8em + var(--s)) calc(1.2em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background: conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2 * var(--_p)) calc(100% - var(--b) - 2 * var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 18px;

    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-align: center;
    margin: 30px;
}

.go-back-button:hover,
.go-back-button:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
    color: #000000;
    font-weight: bold;
}

.go-back-button:active {
    background: var(--color);
    color: #737373;
}

.flexbox {
    align-items: inherit;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.flexbox>* {
    flex: 1 0 0%;
}
@media screen and (max-width: 1510px) {
    .my-row {
        margin-left: 4%;
        margin-right: 4%;
    }
}
.my-row {
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    position: relative;
}
#main:not(.flexbox) {
    display: block;
}

.ldg-container, .my-row {
    box-sizing: border-box;
}
.b-title-master {
    align-items: center;
    text-align: left;
}
.error-image{
    max-width: 100%;/*check*/
}
