img{
    width: 250px;
    height: 125px;
}
.producers-list .card{
    border: 1.5px solid #15192C;
}
.producers-list .card .card-body {
    background-color: #2d3864;
}
.producers-list .card:hover .card-body{
    background: #1f2950;
}